* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #e3e3e5;
  font-family: poppins, sans-serif;
  color: #665656;
}
body.dark-mode {
  background-color: #0d0c12;
  color: white;
}
body .page-header {
  position: fixed;
  top: 25px;
  right: 25px;
}
body .theme-toggle {
  padding: 12px 18px;
  font-size: 16px;
  background-color: #3c3c3c;
  color: white;
  border: none;
  border-radius: 28px;
  cursor: pointer;
}
.dark-mode body .theme-toggle {
  background-color: white;
  color: black;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.start-page,
.quiz-container {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 70px 70px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}
.dark-mode .start-page,
.dark-mode .quiz-container {
  background-color: #23202e;
  box-shadow: 0 6px 8px rgba(255, 255, 255, 0.1);
}
.start-page .question-counter,
.quiz-container .question-counter {
  color: #b06868;
  font-weight: bold;
}
.dark-mode .start-page .question-counter,
.dark-mode .quiz-container .question-counter {
  color: #b06868;
}
.start-page h1,
.quiz-container h1 {
  font-family: "londrina shadow", sans-serif;
  font-size: 52px;
  letter-spacing: 5px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;
  color: #4a4a4a;
}
.dark-mode .start-page h1,
.dark-mode .quiz-container h1 {
  color: #fff;
}
.start-page .question-text,
.quiz-container .question-text {
  margin: 30px 0 10px;
  font-size: 24px;
}
.start-page .intro-text,
.quiz-container .intro-text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: light;
}
.start-page #player-name,
.quiz-container #player-name {
  padding: 12px 20px;
  border: 1px solid #ede9e9;
  background-color: #f5f2f2;
  border-right: none;
  border-radius: 25px 0 0 25px;
  width: 320px;
  outline: none;
  box-shadow: 0 6px 8px rgba(99, 98, 98, 0.2);
  color: #b06868;
  font-weight: bold;
  font-size: 16px;
}
.start-page #player-name::-moz-placeholder, .quiz-container #player-name::-moz-placeholder {
  color: #8e8e8e;
  font-weight: lighter;
}
.start-page #player-name::placeholder,
.quiz-container #player-name::placeholder {
  color: #8e8e8e;
  font-weight: lighter;
}
.start-page .input-group,
.quiz-container .input-group {
  display: flex;
  justify-content: center;
}

.answer-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 36px 0px;
  width: 100%;
}

.result {
  text-align: center;
  margin: 30px 0px;
}
.result h2 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 22px;
  border: none;
  font-weight: lighter;
  margin: 30px 0px;
}

.result-text {
  font-size: 18px;
}
.result-text.red {
  color: red;
}
.result-text.orange {
  color: orange;
}
.result-text.green {
  color: green;
}

.hidden {
  display: none;
}

.btn {
  border: none;
  font-family: "Yusei Magic", sans-serif;
  border-radius: 6px;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 22px;
  transition: all 0.3s ease;
  font-size: 16px;
  box-shadow: 0 6px 8px rgba(99, 98, 98, 0.2);
}
.btn.start-btn {
  margin-left: -20px;
  padding: 12px 18px;
  font-size: 14px;
  border-radius: 25px;
}
.btn.start-btn, .btn.exit-btn, .btn.result-btn {
  background-color: #573d9e;
  color: white;
  letter-spacing: 1px;
}
.btn.start-btn:hover, .btn.exit-btn:hover, .btn.result-btn:hover {
  background-color: #443179;
}
.btn.answer-btn {
  font-size: 18px;
  border-radius: 20px;
  background-color: #f8f9fa;
  color: #4a4557;
  border: 2px solid #d8cfdd;
  font-weight: lighter;
  transition: all 0.3s ease;
}
.btn.answer-btn:hover {
  background-color: #efe8f3;
  transform: translateY(-3px);
  border-color: #d4c6dc;
}
.btn.answer-btn.selected {
  background-color: #b199bb;
  border-color: #9e8ba7;
  color: white;
  border-color: #9e8ba7;
  transform: translateY(1px);
  box-shadow: inset 2px 2px 10px #9e8ba7, inset -2px -2px 10px #c4b4cc;
}
.btn.next-btn {
  background-color: #908e92;
  color: white;
}
.btn.next-btn:hover {
  background-color: #cb730f;
}/*# sourceMappingURL=style.css.map */