* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #f0f2f5;
  font-family: poppins, sans-serif;
  &.dark-mode {
    background-color: #2d3748;
    color: white;
  }
}

header {
  position: fixed;
  top: 25px;
  right: 25px;

  .dark-mode-toggle {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 40px dotted #d41a49;
}

.start-page,
.main-container {
  text-align: center;
  background-color: rgb(120, 112, 230);
  border-radius: 10px;
  padding: 32px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  .question-counter {
    color: #524f4f;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 20px;
    .dark-mode & {
      color: #ccc;
    }
  }
  .dark-mode & {
    background-color: #565e6b;
  }

  h1 {
    font-family: "londrina shadow", sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 32px;
  }

  .intro-text {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.answer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0px;
}

.hidden {
  display: none;
}

.result {
  text-align: center;
  margin: 30px 0px;
  h2 {
    font-size: 24px;
    font-weight: light;
  }
}
//Alla nästlade knappar
.btn {
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding: 12px 20px;
  &:hover {
    filter: brightness(1);
  }
  &#start-btn {
    background-color: #e17510;
    color: white;
    font-size: 16px;
  }

  &.answer-btn {
    background-color: palevioletred;
    border: 5px solid #97e05a;
    &:hover {
      background-color: rosybrown;
    }
    &.selected {
      background-color: black;
      color: white;
    }
  }
  &.btn-variants {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 34px;
  }
  &.next-btn {
    background-color: rgb(78, 174, 193);
    color: white;
    font-size: 16px;
    &:hover {
      background-color: aquamarine;
    }
  }
  &.result-btn {
    background-color: rgb(11, 87, 18);
    color: white;
    font-size: 16px;
    &:hover {
      background-color: aquamarine;
    }
  }
}
